@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* Estilos CSS para o painel de controle */

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 50px;
  padding: 0;
  background-color: #101728;
  color: rgb(0, 0, 0);
  overflow: auto;
}

h1,
h2 {
  color: #ffffff;
}

/* Estilos para as tabelas */
table {
  border-radius: 20px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #9c9c9c;
  font-weight: bold;
}

/* Estilos para os gráficos */
.chart-container {
  /* Adicione estilos para o contêiner do gráfico */
  margin-bottom: 20px;
}